:root {
  --non-photo-blue: #a7dcf1;
  --vivid-sky-blue: #5bcefaff;
  --cherry-blossom-pink: #f5a9b8ff;
  --amaranth: #e5244b;
  --mimi-pink: #fad4dcff;
  --white: #ffffffff;
}

html {
  line-height: 1.2em;
  -webkit-text-size-adjust: 100%;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  margin: 0;
  background-color: var(--white);
}

article {
  text-align: center;
  width: 100vw;
  padding: 0 5vw;
  margin-bottom: 20px;
}

a {
  text-decoration-line: none;
}
a:hover {
  text-decoration-line: underline;
}

.pink-bg {
  background-color: var(--cherry-blossom-pink);
}

.blue-bg {
  background-color: var(--vivid-sky-blue);
}

.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.font-bold {
  font-weight: bold;
}

.main-header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  .main-bar {
    text-align: center;
    background: var(--cherry-blossom-pink);
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;

    background: var(--vivid-sky-blue);
  }
}

.side-bar {
  padding: 1.5vw 3vw;
  min-width: 12vw;
  max-width: 12vw;
}

.page-title {
  margin-top: 0.6em;
  font-size: 2em;
}

/* Might be used later */
.navigation-path {}

.markdown-body {
  text-align: left;
}

/* A simulated button */
.false-button {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  text-align: center;
  border-radius: 5px;
  width: 6.5em;
  min-height: 2em;
  background: var(--non-photo-blue);
  transition: background-color 0.06s ease-in-out;
}
.false-button:hover {
  background: var(--mimi-pink);
}

.false-button > * {
  /* 
    We make it so any element inside of the simulated button
    actually takes up the entire button 
    and stays centered as well
  */
  width: inherit;
  height: inherit;
  align-self: stretch;
  align-content: center;

  /* We override and remove any text decoration and properties */
  color: black;
}
.false-button > a {
  /* ... Including if the child element is an <a> */
  text-decoration: none;
}

.website-logo-button {
  margin: 0px;
  width: 5em;
  min-height: 1.5em;
  background: var(--mimi-pink);
  font-size: 1.3em;
}
.website-logo-button:hover {
  background: var(--non-photo-blue);
}

.blog-article-date {
  color: #e52447;
  font-size: 1.2em;
}

.blog-article-preview {
  font-size: 1em;

  border: 5px solid var(--cherry-blossom-pink);
  border-radius: 10px;

  margin-bottom: 5px;
  padding: 0.5em 1em 1em;

  .blog-article-date {
    line-height: 0;
  }
  .preview-title {
    * {
      margin-bottom: 0;
    }
  }
  .preview-content {
    font-size: 0.7em;
    background-color: inherit;
    border-radius: inherit;
    border-color: inherit;
    p {
      font-size: 1.1em;
    }
  }
  .link-to-article {
    font-size: 1rem;
  }
}
